<script setup lang="ts">
import { computed, onMounted } from 'vue'
// STORE
import { useUserStore } from '@/stores/user.store'
import { storeToRefs } from 'pinia'
// ROUTER
import { RouterLink, useRoute } from 'vue-router'
// COMPONENTS
import SwitchTheme from '@/components/SwitchTheme.vue'
// COMPOSABLE
import { useImage } from '@vueuse/core'
// ICONS
import { UserIcon, HomeIcon, EnvelopeIcon } from '@heroicons/vue/24/solid'

const userStore = useUserStore()
const { picture } = storeToRefs(userStore)

const route = useRoute()

const { isLoading, error } = useImage({ src: picture.value })

//--- HOOKS ---//
onMounted(async () => {
  await userStore.getUserPicture()
})
</script>

<template>
  <header>
    <div class="tw-tabs tw-flex tw-justify-center">
      <div class="tw-navbar tw-bg-base-100">
        <div class="tw-flex-1">
          <a class="tw-btn tw-btn-ghost tw-normal-case tw-text-xl" href="/">Palowan</a>
        </div>
        <div class="tw-flex-none tw-mr-2">
          <RouterLink
            :to="{ name: 'search' }"
            class="tw-btn tw-btn-ghost tw-btn-circle tw-normal-case"
          >
            <HomeIcon
              class="tw-w-5 tw-h-5"
              :class="route.name === 'search' ? 'tw-text-primary' : ''"
            />
          </RouterLink>

          <a
            href="https://teams.microsoft.com/l/chat/0/0?users=mguerin@palo-it.com"
            class="tw-btn tw-btn-circle tw-btn-ghost"
          >
            <EnvelopeIcon class="tw-w-5 tw-h-5" />
          </a>

          <SwitchTheme />
          <div class="tw-dropdown tw-dropdown-end">
            <label tabindex="0" class="tw-btn tw-btn-ghost tw-btn-circle">
              <div v-if="isLoading || error" class="tw-avatar tw-placeholder">
                <UserIcon
                  class="tw-w-5 tw-h-5"
                  :class="route.name === 'profile' ? 'tw-fill-primary' : ''"
                />
              </div>
              <div v-else class="tw-w-10 tw-rounded-full">
                <img :src="picture" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="tw-menu tw-menu-sm tw-dropdown-content tw-mt-3 tw-z-[1] tw-p-2 tw-shadow tw-bg-base-100 tw-rounded-md tw-w-52 tw-border-primary tw-border-[1px]"
            >
              <li>
                <RouterLink :to="{ name: 'profile' }" class="tw-justify-between">
                  Profile
                </RouterLink>
              </li>
              <li><button @click="userStore.signOut">Logout</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss"></style>
