<script setup lang="ts">
import { onMounted } from 'vue'
import { themeChange } from 'theme-change'
import { MoonIcon, SunIcon } from '@heroicons/vue/24/solid'

//--- HOOKS ---//
onMounted(() => themeChange(false))
</script>

<template>
  <label class="tw-swap tw-swap-rotate tw-btn tw-btn-ghost tw-btn-circle">
    <input type="checkbox" data-toggle-theme="dark,light" />
    <SunIcon class="tw-w-5 tw-h-5 tw-swap-on" />
    <MoonIcon class="tw-w-5 tw-h-5 tw-swap-off" />
  </label>
</template>

<style lang="scss"></style>
