<script setup lang="ts">
import { ref, computed, watch } from 'vue'
// STORES
import { storeToRefs } from 'pinia'
import { useFitnetStore } from '@/stores/fitnet.store'

// ICONS
import { BuildingOfficeIcon, CalendarIcon, ExclamationCircleIcon } from '@heroicons/vue/24/outline'
// TYPES
import type { AvailabilitiesQuery } from 'types/fitnet'
import type { MM, YYYY, MonthYearString } from 'types/date'

// store
const fitnetStore = useFitnetStore()
const { companies, isLoadingFitnet } = storeToRefs(fitnetStore)

// refs
const selectedCompanyId = ref(0)
const currentMonth = new Date().getMonth() + 1
const currentYear = new Date().getFullYear()

const fromDateInput = ref<MonthYearString | ''>('')
const toDateInput = ref<MonthYearString | ''>('')

const rangeQuery = ref(false)
const onlyGardenView = ref(true)

const monthsTemplate = (year: YYYY): { name: string; value: MonthYearString }[] => [
  { name: `January ${year}`, value: `01-${year}` },
  { name: `February ${year}`, value: `02-${year}` },
  { name: `March ${year}`, value: `03-${year}` },
  { name: `April ${year}`, value: `04-${year}` },
  { name: `May ${year}`, value: `05-${year}` },
  { name: `June ${year}`, value: `06-${year}` },
  { name: `July ${year}`, value: `07-${year}` },
  { name: `August ${year}`, value: `08-${year}` },
  { name: `September ${year}`, value: `09-${year}` },
  { name: `October ${year}`, value: `10-${year}` },
  { name: `November ${year}`, value: `11-${year}` },
  { name: `December ${year}`, value: `12-${year}` }
]

//--- COMPUTED ---//

const toDateOptions = computed(() => {
  if (fromDateOptions.value)
    return fromDateOptions.value.filter((month) => {
      if (fromDateInput.value) return isDateGreater(month.value, fromDateInput.value, false)
      return
    })
  return []
})

const fromDateOptions = computed(() => {
  const sixMonthAgo = (currentMonth - 6).toLocaleString('en-US', {
    minimumIntegerDigits: 2,
    useGrouping: false
  })
  const currentYearMonths = monthsTemplate(currentYear.toString() as YYYY).filter(
    (month) => month.value >= `${sixMonthAgo}-${currentYear}`
  )
  const nextYearMonths = monthsTemplate((currentYear + 1).toString() as YYYY).filter(
    (month) => month.value <= `${sixMonthAgo}-${currentYear + 1}`
  )

  return [...currentYearMonths, ...nextYearMonths]
})

const currentMonthYear = computed<MonthYearString>(
  () =>
    `${
      currentMonth.toLocaleString('en-US', {
        minimumIntegerDigits: 2,
        useGrouping: false
      }) as MM
    }-${currentYear.toString() as YYYY}`
)

//--- FUNCTIONS ---//

const isDateGreater = (dateOne: MonthYearString, dateTwo: MonthYearString, canBeEqual: boolean) => {
  const dateOneSplitted = dateOne.split('-')
  const dateTwoSplitted = dateTwo.split('-')
  if (canBeEqual)
    return (
      `${dateOneSplitted[1]}-${dateOneSplitted[0]}` >= `${dateTwoSplitted[1]}-${dateTwoSplitted[0]}`
    )
  return (
    `${dateOneSplitted[1]}-${dateOneSplitted[0]}` > `${dateTwoSplitted[1]}-${dateTwoSplitted[0]}`
  )
}

const handleClick = async () => {
  if (!fromDateInput.value || (rangeQuery.value && !toDateInput.value) || !selectedCompanyId.value)
    return

  const query: AvailabilitiesQuery = {
    startDate: fromDateInput.value,
    endDate:
      rangeQuery.value && fromDateInput.value && toDateInput.value
        ? toDateInput.value
        : fromDateInput.value,
    companyId: selectedCompanyId.value,
    onlyGardenView: onlyGardenView.value.toString() as AvailabilitiesQuery['onlyGardenView']
  }
  if (!toDateInput.value) return await fitnetStore.getAvailabilityByMonth(query)
  return await fitnetStore.getAvailability(query)
}

//--- WATCHERS ---//

watch(fromDateInput, async (newValue, oldValue) => {
  if (newValue && isDateGreater(currentMonthYear.value, newValue, true)) {
    toDateInput.value = ''
    rangeQuery.value = false
  }
})

watch(rangeQuery, async (newValue, oldValue) => {
  if (newValue === false) toDateInput.value = ''
})
</script>

<template>
  <div
    class="tw-m-5 tw-border tw-border-primary tw-p-5 tw-rounded-md tw-flex tw-flex-col tw-items-center"
  >
    <div class="tw-alert tw-mb-5">
      <ExclamationCircleIcon class="tw-w-5 tw-h-5 tw-mr-3" />
      <p class="tw-font-bold">
        The data will be retrieved from the
        <span class="tw-text-primary">
          {{
            fromDateInput && isDateGreater(fromDateInput, currentMonthYear, true)
              ? 'estimated'
              : 'real/validated'
          }}
        </span>
        activity report on fitnet
      </p>
    </div>
    <div
      class="tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-space-y-5 md:tw-space-y-0 md:tw-space-x-5 tw-w-fit"
    >
      <div class="tw-space-y-5 md:tw-mr-10">
        <div
          class="tw-flex tw-flex-col tw-space-y-5 md:tw-flex-row md:tw-space-y-0 md:tw-space-x-5"
        >
          <div class="tw-flex tw-items-center tw-justify-between tw-space-x-3 tw-w-full">
            <BuildingOfficeIcon class="tw-w-5 tw-h-5" />
            <select
              v-model="selectedCompanyId"
              class="tw-select tw-select-primary tw-select-sm tw-select-bordered tw-w-full"
              :disabled="!companies.length"
            >
              <option disabled selected :value="0">
                {{ companies.length ? 'Select an office' : 'Loading' }}
              </option>
              <option
                v-for="companie in companies"
                :key="companie.companyId"
                :value="companie.companyId"
              >
                {{ companie.name }}
              </option>
            </select>
          </div>
          <label
            class="tw-space-x-3 tw-w-fit tw-flex tw-items-center tw-justify-between md:tw-justify-normal"
            for="gardenView"
          >
            <span class="tw-whitespace-nowrap">Get only the garden view :</span>
            <input
              v-model="onlyGardenView"
              type="checkbox"
              class="tw-toggle tw-toggle-primary"
              checked
              id="gardenView"
            />
          </label>
        </div>
        <div
          class="tw-flex tw-flex-col tw-space-y-5 md:tw-flex-row md:tw-space-y-0 md:tw-space-x-5"
        >
          <div
            class="tw-flex tw-items-center tw-justify-between tw-space-x-2 tw-w-full md:tw-justify-normal"
          >
            <label class="tw-space-x-3 tw-w-fit tw-flex tw-items-center" for="fromMonth">
              <CalendarIcon class="tw-w-5 tw-h-5" />
              <span class="tw-whitespace-nowrap">From :</span>
            </label>
            <select
              id="fromDateInput"
              v-model="fromDateInput"
              class="tw-select tw-select-primary tw-select-sm tw-select-bordered tw-w-fit"
            >
              <option disabled selected value="">Select a month</option>
              <option v-for="date in fromDateOptions" :key="date.value" :value="date.value">
                {{ date.name }}
              </option>
            </select>
          </div>

          <div
            class="tw-flex tw-items-center tw-justify-between tw-space-x-2 tw-w-full"
            v-show="
              rangeQuery && fromDateInput && isDateGreater(fromDateInput, currentMonthYear, true)
            "
          >
            <label class="tw-space-x-3 tw-flex tw-items-center" for="toDate">
              <CalendarIcon class="tw-w-5 tw-h-5" />
              <span class="tw-whitespace-nowrap">To :</span>
            </label>
            <select
              v-model="toDateInput"
              class="tw-select tw-select-primary tw-select-sm tw-select-bordered tw-w-fit"
              :class="!toDateOptions.length ? 'tw-select-disabled' : ''"
              :disabled="!toDateOptions.length"
              id="toDate"
            >
              <option disabled selected value="">Select a month</option>
              <option v-for="date in toDateOptions" :key="date.value" :value="date.value">
                {{ date.name }}
              </option>
            </select>
          </div>
          <label
            class="tw-flex tw-items-center tw-justify-between tw-space-x-3 tw-w-fit md:tw-justify-normal"
            for="sameDate"
            v-show="fromDateInput && isDateGreater(fromDateInput, currentMonthYear, true)"
          >
            <span class="tw-whitespace-nowrap">Range query :</span>
            <input
              v-model="rangeQuery"
              type="checkbox"
              class="tw-toggle tw-toggle-primary"
              checked
              id="sameDate"
            />
          </label>
        </div>
      </div>
      <button
        class="tw-btn tw-btn-primary tw-w-full md:tw-w-fit tw-text-white"
        @click="handleClick"
        :class="
          isLoadingFitnet || selectedCompanyId === 0 || !fromDateInput ? 'tw-btn-disabled' : ''
        "
      >
        <div v-if="isLoadingFitnet" class="tw-flex tw-items-center">
          <span class="tw-loading tw-loading-spinner tw-mr-2"></span> loading
        </div>
        <span v-else>Search</span>
      </button>
    </div>
  </div>
</template>

<style lang="scss"></style>
