<script setup lang="ts">
import { useFitnetStore } from '@/stores/fitnet.store'
import { storeToRefs } from 'pinia'

const fitnetStore = useFitnetStore()
const { palowansFromFitnet, isLoadingFitnet } = storeToRefs(fitnetStore)
</script>

<template>
  <div class="tw-overflow-x-auto">
    <table class="tw-table" v-if="palowansFromFitnet.length">
      <!-- head -->
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Office</th>
          <th>Staffing rate</th>
          <th class="tw-hidden md:tw-table-cell">Days on contract activities</th>
          <th class="tw-hidden md:tw-table-cell">Days off contract activities</th>
          <th class="tw-hidden md:tw-table-cell">Days on internal activities</th>
        </tr>
      </thead>
      <tbody v-if="isLoadingFitnet">
        <!-- row 1 -->
        <tr v-for="palowan in palowansFromFitnet" :key="palowan.employeeId">
          <th>
            <div class="tw-flex tw-items-center tw-space-x-3 tw-animate-pulse">
              <!-- <div class="tw-avatar">
                <div class="tw-mask tw-mask-squircle w-12 h-12">
                  <img
                    src="/tailwind-css-component-profile-2@56w.png"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div> -->
              <div>
                <div class="tw-h-3 tw-w-32 tw-bg-slate-500 tw-rounded"></div>
                <div class="tw-h-3 tw-w-16 tw-bg-slate-500 tw-rounded tw-mt-1"></div>
              </div>
            </div>
          </th>
          <td class="tw-animate-pulse">
            <div class="tw-h-3 tw-w-16 tw-bg-slate-500 tw-rounded"></div>
          </td>
          <td class="tw-animate-pulse">
            <div class="tw-h-3 tw-w-8 tw-bg-slate-500 tw-rounded"></div>
          </td>
          <td class="tw-animate-pulse tw-hidden md:tw-table-cell">
            <div class="tw-h-3 tw-w-8 tw-bg-slate-500 tw-rounded"></div>
          </td>
          <td class="tw-animate-pulse tw-hidden md:tw-table-cell">
            <div class="tw-h-3 tw-w-8 tw-bg-slate-500 tw-rounded"></div>
          </td>
          <td class="tw-animate-pulse tw-hidden md:tw-table-cell">
            <div class="tw-h-3 tw-w-8 tw-bg-slate-500 tw-rounded"></div>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <!-- row 1 -->
        <tr v-for="palowan in palowansFromFitnet" :key="palowan.employeeId">
          <th>
            <div class="tw-flex tw-items-center tw-space-x-3">
              <!-- <div class="tw-avatar">
                <div class="tw-mask tw-mask-squircle w-12 h-12">
                  <img
                    src="/tailwind-css-component-profile-2@56w.png"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div> -->
              <div>
                <div class="tw-font-bold">{{ palowan.fullName }}</div>
                <span
                  v-if="palowan.staffingRate <= 50"
                  class="tw-badge tw-badge-success tw-badge-sm"
                >
                  Available
                </span>
                <span v-else class="tw-badge tw-badge-error tw-badge-sm">Not available</span>
              </div>
            </div>
          </th>
          <td>{{ palowan.companyName }}</td>
          <td>{{ palowan.staffingRate }}</td>
          <td class="tw-hidden md:tw-table-cell">{{ palowan.numberDaysOnContractActivities }}</td>
          <td class="tw-hidden md:tw-table-cell">{{ palowan.numberDaysOffContractActivities }}</td>
          <td class="tw-hidden md:tw-table-cell">{{ palowan.numberDaysInternalActivities }}</td>
        </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>Full Name</th>
          <th>Office</th>
          <th>Staffing rate</th>
          <th class="tw-hidden md:tw-table-cell">Days on contract activities</th>
          <th class="tw-hidden md:tw-table-cell">Days off contract activities</th>
          <th class="tw-hidden md:tw-table-cell">Days on internal activities</th>
        </tr>
      </tfoot>
    </table>
    <div v-else class="tw-font-bold tw-mt-6">
      There is no data to show, please make a new query.
    </div>
  </div>
</template>

<style lang="scss"></style>
