<script setup lang="ts">
import { onMounted } from 'vue'
// ROUTER
import { RouterView } from 'vue-router'
// STORE
import { useUserStore } from '@/stores/user.store'
// COMPONENTS
import NavBar from '@/components/NavBar.vue'

const userStore = useUserStore()

onMounted(async () => {
  await userStore.getToken()
  await userStore.getUserProfile()
})
</script>

<template>
  <NavBar />
  <RouterView />
</template>

<style lang="scss"></style>
