<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
// ROUTER
import { useRouter } from 'vue-router'
// STORES
import { useUserStore } from '@/stores/user.store'
// LIBRARIES
import { decode } from 'blurhash' // UNSPLASH - BLURHASH
// COMPOSABLES
import { useWindowSize } from '@vueuse/core'
import { UseImage } from '@vueuse/components'
import { useArrayToImage } from '@/composables/useArrayToImage.composable'
// COMPONENTS
import { MapPinIcon } from '@heroicons/vue/24/outline'
import { useFetchBackend } from '@/composables/useFetchBackend.composable'

//--- INIT ---//

// refs
const tinyImageUrl = ref<string | undefined>('')
const imageUrl = ref('')
const imageLink = ref('')
const currentPaloOffice = ref('')
const unsplashError = ref(false)
const imageAuthor = ref('')
// router
const router = useRouter()

// store
const userStore = useUserStore()

/**
 * Decoding unsplash hasblur &
 * transform it to an image
 * @param hashBlur
 */
const getBlurredImageblurred = (hashBlur: string) => {
  const pixels = decode(hashBlur, 32, 32)
  const { image } = useArrayToImage(pixels)
  tinyImageUrl.value = image.value && image.value.src
}

onMounted(async () => {
  const { width } = useWindowSize()

  const { statusCode } = await useFetchBackend('/auth/token').get().json()
  if (statusCode.value === 200) return router.push({ name: 'search' })

  const { data, error } = await useFetchBackend('unsplash').get().json()

  if (data.value) {
    const { blurHash, url, link, office, author } = data.value
    getBlurredImageblurred(blurHash)
    imageUrl.value = url + `&w=${width.value}`
    imageLink.value = link
    currentPaloOffice.value = office
    imageAuthor.value = author
  } else if (error.value) {
    unsplashError.value = true
    currentPaloOffice.value = 'lyon'
  }
})
</script>

<template>
  <main class="tw-h-screen tw-flex tw-items-center tw-justify-center">
    <Transition name="img-fade" mode="out-in">
      <UseImage :src="imageUrl" class="tw-absolute tw-inset-0 tw-h-full tw-w-full tw-object-cover">
        <template #loading>
          <img
            class="tw-absolute tw-inset-0 tw-h-full tw-w-full tw-object-cover"
            :src="tinyImageUrl"
            :alt="`Illustration of palo offices location across the world - here @ ${currentPaloOffice}`"
          />
        </template>
        <template #error>
          <img
            v-if="unsplashError"
            class="tw-absolute tw-inset-0 tw-h-full tw-w-full tw-object-cover"
            src="@/assets/img/offices/lyon/01.webp"
            :alt="`Illustration of palo offices location across the world - here @ lyon`"
          />
        </template>
      </UseImage>
    </Transition>

    <div class="tw-flex tw-px-4 tw-py-12 sm:tw-px-6 lg:tw-flex-none lg:tw-px-20 xl:tw-px-24">
      <div class="tw-card tw-w-116 tw-bg-base-100 tw-shadow-xl tw-bg-opacity-70 tw-rounded-none">
        <div class="tw-card-body">
          <div class="tw-card-title tw-flex tw-flex-col tw-items-start tw-mt-5">
            <img class="tw-h-10 tw-w-auto" src="@/assets/logo.svg" alt="Palo IT logo" />
            <h2>Sign in with your Palo IT account</h2>
          </div>

          <div class="tw-mt-10 tw-card-actions tw-justify-end">
            <button
              class="tw-btn tw-btn-primary tw-text-white tw-normal-case"
              @click="userStore.signIn"
            >
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>

    <a :href="imageLink">
      <div
        class="tw-card tw-absolute tw-bottom-2 tw-right-2 tw-bg-base-100 tw-shadow-xl tw-bg-opacity-70 tw-rounded-none"
      >
        <div class="tw-card-body !tw-p-3">
          <div class="tw-flex tw-items-center">
            <MapPinIcon class="tw-h-5 tw-w-5 tw-mr-2" />
            <p>
              <span class="tw-capitalize tw-font-black">{{ currentPaloOffice }}</span>
              <span v-if="imageAuthor" class="tw-font-light"> - {{ imageAuthor }} @ Unsplash</span>
            </p>
          </div>
        </div>
      </div>
    </a>
  </main>
</template>

<style scoped>
.img-fade-enter-from,
.img-fade-leave-to {
  opacity: 0;
}

.img-fade-enter-active,
.img-fade-leave-active {
  transition: opacity 1s ease-in-out;
}
</style>
