<script setup lang="ts">
import { ref, onMounted, onUpdated } from 'vue'
import { useFetchBackend } from '@/composables/useFetchBackend.composable'
// Markmap
import { Transformer } from 'markmap-lib'
import { Markmap } from 'markmap-view/dist/index.esm'

const transformer = new Transformer()
const personalMaps = ref('')

const svgRef = ref()
const markmap = ref()

const update = () => {
  const { root } = transformer.transform(personalMaps.value)
  markmap.value.setData(root)
  markmap.value.fit()
}

onMounted(async () => {
  // Get markdown personal maps
  const { data } = await useFetchBackend('/personal-maps')
  personalMaps.value = data.value as string

  // Create markmap
  markmap.value = Markmap.create(svgRef.value, { initialExpandLevel: 2 })
  update()
})

onUpdated(update)
</script>

<template>
  <svg class="tw-w-full tw-h-screen" ref="svgRef" />
</template>

<style lang="scss"></style>
