<script setup lang="ts">
import { onMounted } from 'vue'
import { useUserStore } from '@/stores/user.store'
import { storeToRefs } from 'pinia'
/* import { useIsAuthenticated } from '@/composables/useIsAuthenticated' */
const userStore = useUserStore()
const { profile } = storeToRefs(userStore)

onMounted(() => {
  userStore.getUserProfile()
})
</script>

<template>
  <div class="tw-mockup-code tw-container tw-mx-auto tw-mt-16 tw-max-w-md">
    <pre data-prefix="$"><code>curl -X GET "aka.ms/profile"</code></pre>
    <pre data-prefix=">" class="tw-text-warning"><code>Name: {{ profile.displayName }}</code></pre>
    <pre data-prefix=">" class="tw-text-warning"><code>Title: {{ profile.jobTitle }}</code></pre>
    <pre data-prefix=">" class="tw-text-warning"><code>Mail: {{ profile.mail }}</code></pre>
    <pre data-prefix=">" class="tw-text-warning"><code>Phone: {{ profile.mobilePhone }}</code></pre>
    <pre
      data-prefix=">"
      class="tw-text-warning"
      v-if="profile.officeLocation"
    ><code>Location: {{ profile.officeLocation }}</code></pre>
    <pre data-prefix=">" class="tw-text-success"><code>Done!</code></pre>
  </div>
</template>
