<script setup lang="ts">
import { ref, onMounted, computed } from 'vue'
// STORES
import { useFitnetStore } from '@/stores/fitnet.store'
// COMPONENTS
import UserTable from '@/components/UserTable.vue'
import UserSearchBar from '@/components/UserSearchBar.vue'

// store
const fitnetStore = useFitnetStore()

//--- HOOKS ---//
onMounted(() => {
  fitnetStore.init()
})
</script>

<template>
  <main class="tw-container tw-mx-auto tw-flex tw-items-center tw-flex-col">
    <UserSearchBar />
    <UserTable class="tw-mt-10" />
  </main>
</template>

<style lang="scss"></style>
